<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="60 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="logs/oauth/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="CONSOLE_LOG_SELF_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%file:%line] %caller{1} - %msg%n"/>
    <property name="errorPath" value="logs/business/error/"/>
    <property name="logBase" value="logs/business/"/>
    <property name="rollingFilePath" value="logs/business/rollingFile"/>
    <property name="maxFileSize" value="10MB"/>

    <!--错误日志-->
    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${errorPath}error.log</file>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${errorPath}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <!-- 只打印错误日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILE_TIME" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 当前Log文件名 -->
        <file>${logBase}logging.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} [%file:%line] %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--设置日志命名模式-->
            <fileNamePattern>${logBase}/logging.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--最多保留30天log-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_SIZE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logBase}/logging.%d{yyyy-MM-dd}.%i.log </fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 测试环境+开发环境. 多个使用逗号隔开.-->
    <springProfile name="dev">
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <logger name="jdbc.sqlOnly" level="DEBUG"/>
        <logger name="cn.xluobo" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="me.chanjar.weixin" level="DEBUG"></logger>
        <logger name="com.github.binarywang.wxpay" level="DEBUG"></logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="FILE_TIME"/>-->
<!--            <appender-ref ref="FILE_SIZE"/>-->
<!--            <appender-ref ref="errorFile"/>-->
        </root>
    </springProfile>

    <springProfile name="test">
        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.sqlOnly" level="INFO"/>
        <logger name="cn.xluobo" level="INFO"/>
        <logger name="me.chanjar.weixin" level="INFO"></logger>
        <logger name="com.github.binarywang.wxpay" level="INFO"></logger>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_TIME"/>
            <appender-ref ref="FILE_SIZE"/>
            <appender-ref ref="errorFile"/>
        </root>
    </springProfile>


    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="cn.xluobo" level="INFO">
            <appender-ref ref="FILE_TIME"/>
            <appender-ref ref="FILE_SIZE"/>
            <appender-ref ref="errorFile"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
